@media print {
  @page {
    size: A4 landscape;
    margin: 5mm;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .print-page {
    width: 287mm;
    /* 297 - (5mm x 2) */
    height: 200mm;
    /* 210 - (5mm x 2) */
    page-break-after: always;
    break-after: page;
    overflow: hidden;
    position: relative;
  }

  .print-page:last-child {
    page-break-after: auto;
    break-after: auto;
  }

  .print-column {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}